<% content_for :title, "新規トピック作成 - #{@category.name} - JapDev" %>

<div class="max-w-3xl mx-auto">
  <div class="mb-8">
    <%= link_to "← #{@category.name}に戻る",
    devsheet_category_path(@category),
    class: "text-emerald-600 hover:text-emerald-700 font-medium" %>
  </div>

  <h1 class="text-3xl font-bold text-gray-900 mb-8"><%= @category.name %>
    - 新規トピック作成</h1>
  <%= render "form", category: @category, topic: @topic %>
</div>
